/*Regra reset para zerar todos asa confifurações padores*/
*{
    margin: 0;
    padding: 0;
}

/*Usamos a tag abaixo para indicar ao navegador que o html e o css ocupa toda a pagina*/
html,body{
    height: 100%;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(50,142,221,1) 41%, rgba(0,212,255,1) 97%);
    color: white

}

h1{
    margin-top: 20px;
    font-size: 26px;
    color: white;
}

h2{ 
    margin: 8px 0 5px;
    font-size: 18px;
    font-weight: 100;
}

.diego-img{
    margin: 20px ;
    text-align: center;
}

.diego-img img{
    border: 3px solid black;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(97, 97, 97);
}

.social{
    /* "Displa: flex;" é usado para deixar os itens lado a lado*/
    display: flex;
    /*O"justify-content: center;" é usado SOMENTE quando há o display-flex. É usado para centralizar o text,imagens...
    justify-content: center;*/
    justify-content: space-around;
    /*A "list-style: none;" vai tirar os pontos/traços da UL*/
    list-style: none;
}

.social img{
    width: 33px;
}

.link-courses li a{
    display: block;
    background: white;
    padding: 10px;
    margin: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
/*Elementos Inline não tem comportamento do block*/
/*A tag SPAN é usada para modificar um trecho do texto. Devemos nos atentar pois*/

.link-courses li a span{
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: grey
}